@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('shortcuts.css');
@import url('navbar.css');
@import url('major_classes.css');

:root {
    --primary-color: #ff4500;
    --secondary-color: #990000;
    --dark-color: #6400a6;
    --light-bg: #e9eaf2;
    --hover-bg: #d0d1d9;
    --font-lexend: "Lexend", sans-serif;
    --font-proza: "Proza Libre", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-source-code: "Source Code Pro", monospace;
    --font-merriweather: "Merriweather", serif;
    --font-roboto-mono: "Roboto Mono", monospace;
    --font-jetbrains: "JetBrains Mono", serif;
}

body {
    margin: 0 2vw 200px;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

h2 {
    font-family: var(--font-merriweather);
    font-weight: bold;
    font-size: 22pt;
    text-decoration: underline;
    margin: 2vh 0 1vh;
    padding: 0;
    cursor: pointer;
}

.todo {
    font-family: var(--font-lexend);
    font-size: 14pt;
    color: #ff4500;
    font-weight: 700;
}

/* Broad Class Attributes */
.txt-center {
    width: 100%;
    text-align: center;
    align-content: center;
}

/* HOME.HTML */
#win-paths {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 1fr 1fr;
    border: 3px solid black;
    padding: 10px;
    min-height: 300px;
    height: 100%;
    max-width: 50%;
    width: 40%;
    /* width: 100%; */
    background-color: white;
}
/* All children except heading */
#win-paths > *:not(.grid-title) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    align-content: center;
    text-align: left;
    line-height: 2.25;
}
#win-paths > :nth-child(2n) {
    color: #990000;
    font-family: "Proza Libre", sans-serif;
    font-size: 14pt;
    font-weight: 700;
    text-align: right;
    padding-right: 20px;
}

.grid-title {
    grid-column: 1 / 3;
    color: #6400a6;
    font-size: 18pt;
    font-weight: 700;
    align-content: center;
    text-align: center;
    text-decoration: underline;
    font-optical-sizing: auto;
    font-family: "Montserrat", "Raleway", sans-serif;
}



.copyable-divs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 3vh;
    padding: 0;
    font-family: var(--font-roboto-mono);
}
.copyable-divs > div {
    background-color: #e9eaf2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.copyable-divs > div:hover {
    background-color: #d0d1d9; /* Slightly darker background on hover */
}
.copied-tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    user-select: none;
    z-index: 1000;
    /* transition: background-color 0.3s ease; */
    transition: opacity 0.3s;
}


/* PROGRAMS.HTML */
/* Hide all sections by default */
.content-section {
    display: none;
}

/* Show only the active section */
.active-section {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
    background-color: #434343;
    color: #9ec38f;
    font-weight: bold;
    font-size: 18pt;
    font-family: 'Merriweather', serif;
    text-align: center;
}

/* Alternating row colors */
tr:nth-child(even) {
    background-color: #f0f0f0;
}

