/* @import url('main.css'); */
@import url('components/navbar.css');
@import url('components/load_spinner.css');
@import url('components/buttons.css');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 0;
    margin-bottom: 0;
}

.container {
    background: white;
    margin: 0 auto;
    padding: 10px 40px 40px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100vw;
    min-height: 80vh;
}


/**** Heading ****/
.main-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}
.main-heading:hover {
    text-align: center;
}
.main-heading>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.main-heading:hover > a {
    background-color: rgba(240, 240, 240, 0.9);
    color: #000000;
    transform: translateY(-1px);
}
.subhead {
    font-size: 0.8em;
    color: gray;
    margin-left: 8px;
    font-weight: 600;
}

/**** NewsLetter Block ****/
.newsletter {
    max-width: 100%;
    max-width: 75%;
    background-color: #030108;
    color: #ffffff;
    margin: 0 auto;
    min-height: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    padding: 10px 50px;
    font-family: "Quicksand", "Nunito Sans", "Rubik", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.news-block {
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 35px;
}

.news-block a {
    text-decoration: none;
    color: #1a0dab;
    color: #ffffff;
}

.news-content>ul {
    margin: 5px 0;
}

.news-content li {
    margin: 5px 0;
    margin-left: 25.2px;
}

/**** Button Group ****/
.button-group {
    text-align: center;
    margin: 10px 0;
}

.button-group-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 20px 0;
}

.button-group-two .toggle-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: monospace;
}

/* Hover state (for non-selected buttons) */
.button-group-two .toggle-button:not(.selected):hover {
    background-color: #f0f0f0;
}

/* Selected state (The key style for the active button) */
.button-group-two .toggle-button.selected {
    background-color: #000;
    color: #fff;
    pointer-events: none;   /* Optional: Prevents clicking the selected button */
}







@media (max-width: 600px) {
    .content {
        padding: 20px;
    }
}