/* For broad classes that could apply to lots of things; Sort of like bootstrap */

.path {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
}
.paths {
    font-family: "Source Code Pro", monospace;
    font-size: 11pt;
    font-weight: 600;
    text-overflow: ellipsis; /* Add an ellipsis (...) if the text overflows */
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightcoral;
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.blk {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
}